////
/// Site container object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background: #0094de; /* Old browsers */
    background: -moz-linear-gradient(top, #0094de 0%, #ffffff 15%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0094de 0%,#ffffff 15%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0094de 0%,#ffffff 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094de', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 8px;
    overflow: hidden;
    margin-top: 5px;
}

body {
    background-color: #222222;
    margin-top: 0;
}

body.admin-bar {
    margin-top: 32px;
    .announcement-banner {
        top: 32px;
    }
}

.announcement-banner {
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
    background: #777;
    color: #EFEFEF;
    width: 100%;
    height: 35px;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    img {
        margin-left: 5px;
        margin-right: 5px;
    }
}