////
/// Site header object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-header {
	background-color: #FFFF00;
	height: 50px;
	position: relative;
	z-index: 1;
	border-bottom: 0;

	.wrap {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include mq(m) {
			flex-wrap: nowrap;
		}

		img {
			height: 38px;
			width: auto;
		}
		ul {
			background: none !important;
			li {
				a {
					color: #0094DE !important;
					font-size: 20px !important;
					font-weight: bold !important;
					text-transform: capitalize !important;
					font-style: italic !important;
					text-decoration: none !important;
					&:hover {
						color: #000 !important;
					}
				}
			}
		}
	}
}
