////
/// Media.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

embed,
iframe,
object,
video,
.wp-caption {
	width: 100%;
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

iframe {
	border: 0;
}

.elementor-widget-video {
	max-width: 560px !important;
	margin: 0 auto !important;
}

.elementor-accordion {
	.elementor-accordion-item {
		border: 0 !important;
	}
	.elementor-tab-title {
		color: #00F !important;
		text-decoration: underline !important;
		font-size: 15px !important;
		cursor: pointer !important;
		margin-bottom: 0px !important;
		margin-top: 0px !important;
		padding-top: 15px !important;
		border-bottom: none !important !important;
	}
	.elementor-tab-content {
		font-size: 14px !important;
		line-height: 20px !important;
		color: black !important;
		border: none !important;
	}
	a {
		outline: none !important;
	}
}
